#circlelist {
	float: left;
	height: 90%;
	width: 175;
	margin-right: 10px;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right: 3px solid #39826F;
	border-bottom: 3px solid #39826F;
	overflow-y: scroll;
	overflow-x:hidden;
	}
	
#circleinfo {
	float: right;
	min-width: 500px;
	}
	
.message {
	margin-bottom: 3px;
	}
	
.circle {
	position: relative;
	left: 3px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	}
	
#selectedcircle {
	border: 3px solid #39826F;
	border-right-width: 0px;
	}
	
#newcirclebutton {
	position: absolute;
	bottom: 7px;
	left: 10px;
	}
	
#newcircleform {
	padding: 5px;
	width: 330px;
	height: 250px;
	margin: auto;
	top: 100px;
	left: 550px;
	}
	
#emailtakenpopup{
	top: 150px;
	left: 575px;
	width: 200px;
	}
	
#circleheader {
	padding: 3px;
	border-bottom:3px solid #39826F;
	margin: 0px;
	}
	
#adminslist {
	overflow-y:scroll;
	overflow-x:hidden;
	float: right;
	width: 150px;
	}

#messagelist {
	overflow-y:scroll;
	overflow-x:hidden;
	float:left;
	min-width: 325px;
	max-height: 500px;
	border-right: 3px solid #39826F;

	}