#circlelist {
	float: left;
	height: 100%;
	width: 175;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right: 3px solid #39826F;
	}
	
#circleinfo {
	float: right;
	}
	
.circle {
	position: relative;
	left: 3px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	}
	
#selectedcircle {
	border: 3px solid #39826F;
	border-right-width: 0px;
	}
	
#newcirclebutton {
	position: absolute;
	bottom: 20px;
	}
	
#newcircleform {
	padding: 5px;
	width: 330px;
	height: 250px;
	border: 3px solid #39826F;
	background: white;
	position: fixed;
	margin: auto;
	top: 100px;
	left: 550px;
	display: none;
	}
	
#emailtakenpopup{
	display:none;
	position: fixed;
	}