#circlelist {
        float: left;
        height: 90%;
        width: 150;
        margin-right: 10px;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-right: 3px solid #39826F;
        border-bottom: 3px solid #39826F;
        overflow-y: auto;
        overflow-x:hidden;
        }
        
#circleinfo {
        float: right;
        width: 525px;
        margin-right: 3px;
        }
        
.message {
        margin-bottom: 3px;
        border-bottom: 1px solid #39826F;
        }
        
.circle {
        position: relative;
        left: 3px;
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100px;
        }
        
#selectedcircle {
        border: 3px solid #39826F;
        border-right-width: 0px;
        }
        
#newcirclebutton {
        position: absolute;
        bottom: 5px;
        left: 10px;
        }
        
#newcircleform {
        padding: 5px;
        width: 330px;
        height: 250px;
        margin: auto;
        top: 100px;
        left: 550px;
        }
        
#emailtakenpopup{
        top: 150px;
        left: 575px;
        width: 200px;
        }
        
#circleheader {
        width: 100%;
        padding: 3px;
        border-bottom:3px solid #39826F;
        margin: 0px;
        }
        
#adminslist {
        overflow-y:auto;
        overflow-x:hidden;
        float: right;
        width: 150px;
        height: 402px;
        }

#messagelist {
        overflow-y:auto;
        overflow-x:hidden;
        float:left;
        width: 350px;
        height: 402px;
        border-right: 3px solid #39826F;
        }
        
.managebutton {
        float:right;
        margin: 5px;
        }
        
#deletecircleok, #leavecircleok  {
        width: 200px;
        height: 100px;
        top: 100px;
        left: 600px;
        }
