#circlelist {
        float: left;
        height: 90%;
        width: 150px;
        margin-right: 10px;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-right: 3px solid #327262;
        border-bottom: 3px solid #327262;
        overflow-y: auto;
        overflow-x:hidden;
        }
        
#circleinfo {
        float: right;
        width: 525px;
        margin-right: 3px;
        }
        
.message {
        margin-bottom: 3px;
        border-bottom: 1px solid #327262;
        }
        
.circle {
        position: relative;
        left: 3px;
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100px;
        }
        
.member {
		width: 100%;
		}
        
#selectedcircle {
        border: 3px solid #327262;
        border-right-width: 0px;
        }
        
#newcirclebutton {
        position: absolute;
        bottom: 5px;
        left: 10px;
        }
        
#newcircleform {
        padding: 5px;
        width: 330px;
        height: 250px;
        margin-left:-165px;
        }
        
#usersettingspanel {
        width: 200px;
        padding: 5px;
        margin-left:-100px;
        }

        
#emailtakenpopup{
        width: 200px;
        margin-left: -100px;
        }

#alreadyadded{
        width: 200px;
        margin-left: -100px;
        }
        
#circleheader {
        width: 100%;
        padding: 3px;
        border-bottom:3px solid #327262;
        margin: 0px;
        }
        
#adminslist {
        overflow-y:auto;
        overflow-x:hidden;
        float: right;
        width: 150px;
        height: 402px;
        }

#messagelist {
        overflow-y:auto;
        overflow-x:hidden;
        padding: 2px;
        float:left;
        width: 360px;
        height: 380px;
        border-right: 3px solid #327262;
        }
        
.managebutton {
        float:right;
        margin: 5px;
        }
        
.micromanagebutton {
		float: right;
		margin-right: 2px;
		height: 100%;
		}
        
#deletecircleok, #leavecircleok  {
        width: 200px;
        padding: 5px;
        margin-left: -100px;
        }
      
#adduserform {
        width: 200px;
        padding: 5px;
        margin-left:-100px;
        }